/* general css applies to all pages in portfolio */
body {
    background-color: #E6DBD1;
    
    background-image: url("./assets/images/bgwallpaper.jpg");
    height: 500px; 
    background-position: center;
}

.main-container {
    display: flex;
    flex-direction: row;
}

.sidenav {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    background-color: #748277;
    min-height: 100vh;
    border: 1px solid #676064;
    margin-right: 3%;
}

.sidenav a {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #676064;
    background-color: #E6DBD1;
    text-decoration: none;
    padding: 10px;
    margin: 5px;
    border-radius: 20px;
    border: 1px solid #676064;
}

#headshot {
    width: 65%;
    border-radius: 50%;
    border: 2px solid black;
    object-fit: contain;

    margin-top: 40px;
    margin-bottom: 40px;
}

/* only used on the home page */
.homepg {
    flex: 4;
    align-items: center;
    align-self: center;

    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #676064;
    text-align: center;
}

.homepg h1 {
    text-shadow: 0px 10px #E6DBD1;
}

.homepg p {
    color: #8C8388;
}
/* end of home page */


/* only used on about page */
.about {
    flex: 4;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #676064;
    font-weight: bold;
    text-align: center;
    margin-right: 2%;
}
/* end of about */


/* only used on projects page */
.projects {
    flex: 4;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: baseline;
}

.proj-flex {
    display: flex;
    flex-direction: column;
}

.proj-flex-top {
    flex: 1
}

.proj-flex-bottom {
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: baseline;
}

.proj {
    flex: 1;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-around;
    margin: 1%;
}

.proj h3 {
    text-decoration: none;
    text-decoration-line: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #676064;
}

#main-proj {
    height: 300px;
    width: 700px;
    border: 2px;
    border-radius: 10px;
}

.proj img {
    height: 300px;
    width: 300px;
    border: 2px;
    border-radius: 10px;
}

/* end of projects page */


/* only used on contact page */
.contact {
    flex: 4;
    font-family: Arial, Helvetica, sans-serif;
    color: #676064;
    text-align: center;
}

.contact h1 {
    text-emphasis: bold;
    text-align: center;
    margin-top: 200px;
    margin-bottom: 50px;
}

.contact a {
    color:#676064;
    text-decoration: none;
    text-align: center;
    margin-right: 40px;
}

/* end of contact page */